@model EntityLayer.Concrete.Message

@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Mesaj Detay Sayfası</p>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" value="@Model.MessageId" />
                </div>
                <div class="form-group">
                    <label>İsim</label>
                    <input type="text" class="form-control" value="@Model.Name" />
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    <input type="text" class="form-control" value="@Model.Mail" />
                </div>
                <div class="form-group">
                    <label>Mesaj İçeriği</label>
                    <textarea class="form-control" rows="6" cols="3">@Model.Content</textarea>
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="text" class="form-control" value="@Model.Date.ToString("dd MMMM yyyy HH:mm")" />
                </div>
                <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
            </form>
        </div>
    </div>
</div>

<script>
    // Girdi kutularının tıklanmasını engellemek için
    var inputs = document.querySelectorAll("input[type='text'], textarea");
    inputs.forEach(function (input) {
        input.addEventListener("mousedown", function (event) {
            event.preventDefault(); // Tıklanmayı engelle
        });
    });
</script>